* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

header {
    width: 100%;
}
.nav-item:hover {
    border: 1px solid rgba(206, 216, 230, 0.616);
    background: rgba(206, 216, 230, 0.616);
    cursor: pointer;
}
/*
.container-header {
    width: 100%;
    max-width: 1200px;
    position: relative;
    margin: auto;
}
.logo-nav {
    display:flex;
}
.logo-nav img {
    width: 50px;
    height: 40px;
    margin-top: 10px;
}
.logo-nav h4 {
    color: rgba(148, 190, 230);
    font-size: 15px;
    margin-top: 20px;
}
.icon-menu {
    position: absolute;
    right: 10px;
    top: 20px;
    margin: 5px 5px 5px 5px;
    color: rgba(148, 190, 230);
    border: 1px solid rgba(110, 146, 180, 0.623);
}
.icon-menu:hover {
    background: rgba(110, 146, 180, 0.623);
    cursor: pointer;
}*/
 /*career Zone*/
.container-career{
    width: 100%;
    height: 400px;
    background-image: url(../assets/firstImage.jpg);
    background-size: 200%;
    animation: movment 8s infinite linear alternate;
    position: relative;
}
@keyframes movment {
    from{
        background-position: bottom right;
    } to{
        background-position: top left;
    }
}
.gradient-label {
    width: 100%;
    height: 100%;
    position: absolute;
    background: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.856), rgba(148, 190, 230, 0.5));
}
.container-text {
    width: 100%;
    position: relative;
    text-align: center;
}
.row {
    margin-right: 0;
}
.content {
    width: 100%;
    position: relative;
    color: gainsboro;
    text-align: center;
}
.content h2 {
    margin-top: 30%;
    font-size: 40px;
    font-family: 'Charmonman', cursive;
    text-align: center;
}
.content p {
    margin-top: 60%;
    padding-top: 30%;
    font-size: 40px;
    font-family: 'Charmonman', cursive;
    text-align: center;
}

@media screen and (max-width: 425px){
    .content h2 {
        margin-top: 150%;
        font-size: 18px;
        font-family: 'Charmonman', cursive;
        text-align: center;
    }
}

#about-me {
    width: 100%;
    height: 20%;
    background: rgb(12, 12, 12);
    text-align: center;
    margin: auto;
}
#about-me h2, #my-skills h2 {
    font-family: 'Charmonman', cursive;
    font-size: 40px;;
    color: rgba(192, 192, 223, 0.808);
    margin: auto;
}
#about-me h3, #my-skills h3 {
    font-family: 'Charmonman', cursive;
    font-size: 25px;;
    color: rgba(192, 192, 223, 0.808);
    margin-bottom: 10%;
    margin-top: 10%;
}
#about-me h4, #about-me button {
    font-family: 'Charmonman', cursive;
    font-size: 18px;;
    color: rgba(79, 79, 161, 0.808);
}
.card-body {
    font-size: 14px;
    color: gray;
}
#about-me p {
    font-size: 16px;
    color: gray;
}
.img-hard-skills{
    width: 80%;
    height: 150px;
    background-image: url(../assets/womenTech.jpg);
    background-size: 220%;
    animation: hard 8s infinite linear alternate;
    position: relative;
    border-radius:150px;
}
.img-soft-skills{
    width: 80%;
    height: 150px;
    background-image: url(../assets/womenUmbrella.jpg);
    background-size: 150%;
    animation: hard 8s infinite linear alternate;
    position: relative;
    border-radius:150px;
}
@keyframes hard {
    from{
        background-position: bottom right;
    } to{
        background-position: top left;
    }
}
.gradient-circle {
    width: 100%;
    height: 100%;
    position: absolute;
    background: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.856), rgba(148, 190, 230, 0.5));
    border-radius:150px;
}
#my-skills {
    width: 100%;
    background: rgba(186, 235, 231, 0.74);
    text-align: center;
    margin: auto;
}
#my-skills h2 {
    margin-top: 4%;
    margin-bottom: 4%;
    text-align: center;
}
.img-hard-skills, .img-soft-skills {
    margin: auto;
} 
.adjust-size {
    width: 300px;
}
.carouselExampleIndicators {
    width: 60%;
    margin: auto;
}
.carousel-item img {
    height: 200px;
    margin: auto;
    padding-bottom: 20px;
    padding-top: 25px;
}

#my-projects {
    background: rgba(174, 190, 190, 0.74);
}
.container-projects{
    width: 100%;
    min-height: 700px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.container-projects .box-project {
    position: relative;
    /*height: 50px;
    background: rgba(206, 216, 230, 0.616);*/
    margin: 10px;
    box-sizing: border-box;
    display: inline-block;
}
.container-projects .box-project .img-project {
    position:relative;
    overflow: hidden;
}
.container-projects .box-project img {
    max-width: 40%;
    transition: transform 2s;
}
.container-projects .box-project:hover .img-project img {
    transform: scale(1.2);
}

.container-projects .box-project .project-hover {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: rgb(0, 0, 0, 0.8);
    transform: scaleY(0);
    transition: transform 0.5s;
}
.container-projects .box-project:hover .project-hover {
    transform: scaleY(1);
}
.container-projects .box-project .project-hover .project-content {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    text-align: center;
    padding: 15px;
    color: white;
}
.container-projects .box-project .project-hover .project-content h4 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: rgba(79, 79, 161, 0.808);
}
.container-projects .box-project .project-hover .project-content p {
    margin: 10px 0 0;
    padding: 0;
}
.container-projects .box-project .project-hover .project-content i {
    margin-left: 5px;
    margin-right: 5px;
}