* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

header {
    width: 100%;
}
.nav-item:hover {
    border: 1px solid rgba(206, 216, 230, 0.616);
    background: rgba(206, 216, 230, 0.616);
    cursor: pointer;
}
 /*career Zone*/
.container-career{
    width: 100%;
    height: 400px;
    background-image: url(../assets/firstImage.jpg);
    background-size: 200%;
    animation: movment 8s infinite linear alternate;
    position: relative;
}
@keyframes movment {
    from{
        background-position: bottom right;
    } to{
        background-position: top left;
    }
}
.gradient-label {
    width: 100%;
    height: 100%;
    position: absolute;
    background: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.856), rgba(148, 190, 230, 0.5));
}
.container-text {
    width: 100%;
    position: relative;
    text-align: center;
}
.row {
    margin-right: 0;
}
.content {
    width: 100%;
    position: relative;
    color: gainsboro;
    text-align: center;
}
.content h2 {
    margin-top: 30%;
    font-size: 40px;
    font-family: 'Charmonman', cursive;
    text-align: center;
}
@media screen and (max-width: 630px){
    .content h2 {
        margin-top: 50%;
        font-size: 20px;
        font-family: 'Charmonman', cursive;
        text-align: center;
    }
}
.content p {
    margin-top: 60%;
    padding-top: 30%;
    font-size: 40px;
    font-family: 'Charmonman', cursive;
    text-align: center;
}

@media screen and (max-width: 425px){
    .content h2 {
        margin-top: 150%;
        font-size: 18px;
        font-family: 'Charmonman', cursive;
        text-align: center;
    }
}

#about-me {
    width: 100%;
    height: 20%;
    background: rgb(12, 12, 12);
    text-align: center;
    margin: auto;
}
#about-me h2, #my-skills h2, #my-projects h2 , #contact-me h2{
    font-family: 'Charmonman', cursive;
    padding-top: 10px;
    font-size: 40px;;
    color: rgba(209, 209, 228, 0.808);
    margin: auto;
}
#about-me h3, #my-skills h3 {
    font-family: 'Charmonman', cursive;
    font-size: 25px;;
    color: rgba(192, 192, 223, 0.808);
    margin-bottom: 10%;
    margin-top: 10%;
}
#about-me h4, #about-me button {
    font-family: 'Charmonman', cursive;
    font-size: 18px;;
    color: rgba(79, 79, 161, 0.808);
}
.card-body {
    font-size: 14px;
    color: gray;
}
#about-me p {
    font-size: 16px;
    color: gray;
}
.img-hard-skills{
    width: 80%;
    height: 150px;
    background-image: url(../assets/womenTech.jpg);
    background-size: 220%;
    animation: hard 8s infinite linear alternate;
    position: relative;
    border-radius:150px;
}
.img-soft-skills{
    width: 80%;
    height: 150px;
    background-image: url(../assets/womenUmbrella.jpg);
    background-size: 150%;
    animation: hard 8s infinite linear alternate;
    position: relative;
    border-radius:150px;
}
@keyframes hard {
    from{
        background-position: bottom right;
    } to{
        background-position: top left;
    }
}
.gradient-circle {
    width: 100%;
    height: 100%;
    position: absolute;
    background: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.856), rgba(148, 190, 230, 0.5));
    border-radius:150px;
}
#my-skills, #contact-me{
    width: 100%;
    background: rgba(176, 182, 181, 0.74);
    text-align: center;
    margin: auto;
}
#my-skills h2 , #contact-me h2{
    margin-top: 4%;
    margin-bottom: 4%;
    text-align: center;
    color: rgba(93, 149, 202, 0.945)

}
.img-hard-skills, .img-soft-skills {
    margin: auto;
} 
.adjust-size {
    width: 300px;
}
.carouselExampleIndicators {
    width: 60%;
    margin: auto;
}
.carousel-item img {
    height: 12em;
    width: 9em;
    margin: auto;
    padding-bottom: 20px;
    padding-top: 25px;
}
.node {
    height: 11.5em !important;
    width: 9.5em !important;
}
.github {
    height: 10.5em !important;
    width: 8em !important;
}
#my-projects {
    background: rgb(12, 12, 12);
    height: 60%;
}
#my-projects h2 {
    margin-top: 20px;
}
.container-project {
    width: 100%;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.container-project .box {
    position: relative;
    width: 400px;
    height: 400px;
    margin: 14px;
    box-sizing: border-box;
    display: block;
    border-collapse: collapse;
}
@media screen and (max-width: 401px){
    .container-project .box {
        position: relative;
        width: 310px;
        height: 400px;
        margin: 14px;
        box-sizing: border-box;
        display: block;
        border-collapse: collapse;
    }
    .container-project .box .imgBox img {
        transition: trasform 2s;
        max-width: 310px;
        max-height: 310px;
    }
}

.container-project .box .imgBox {
    position: relative;
    overflow: hidden;
}
.container-project .box .imgBox img {
    transition: trasform 2s;
    max-width: 400px;
    max-height: 400px;
}
.container-project .box:hover .imgBox img {
    transform: scale(1.2);
}
.container-project .box .details {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background: rgba(0,0,0,.8);
    transform: scaleY(0);
    transition: transform 0.8s;
}
.container-project .box:hover .details {
    transform: scaleY(1);
}
.container-project .box .details .content-box{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 10px;
    color: white;
    font-size: 12px;
}
.container-project .box .details .content-box h4 {
    margin: 10px 0 0;
    padding: 0;
    font-size: 15px;
    color: rgba(222, 222, 243, 0.616);
}
.container-project .box .details .content-box i {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.container-project .box .details .content-box a {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.swiper-container {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 50px;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}
.swiper-slide .imgBox3d {
    width: 100%;
    height: 300px;
    overflow: hidden;
}
.swiper-slide .imgBox3d img {
    width: 100%;
}
.swiper-slide .details-3d {
    box-sizing: border-box;
    padding: 20px;
}
.swiper-slide .details-3d h3 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    text-align: center;
    line-height: 0;
}
#contact-me .col-md-6 {
    display: inline-block;
}

@media screen and (max-width: 1315px){
    .container-project {
        justify-content: center;
    }
}
.swiper-slide .details-3d h3{
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    color: rgb(50, 25, 90);
}
.swiper-wrapper {
    margin-bottom: 25px;
}
.swiper-slide .details-3d {
    padding: 0;
}
.social-media {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-media ul {
    position: relative;
    padding-top: 30vh;
    padding-left: 25%;
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 993px){
    .social-media ul li {
        position: relative;
        list-style: none;
        width: 60px;
        height: 60px;
        margin: 0 30px;
        transform: rotate(-30deg) skew(25deg);
        background: #ccc;
    }
    .social-media ul li span {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        transition: 0.5s;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 35px !important;
    }
    .social-media ul li:hover span:nth-child(5){
        transform: translate(40px,-40px);
        opacity: 1;
    }.social-media ul li:hover span:nth-child(4){
        transform: translate(30px,-30px);
        opacity: 0.8;
    }
    .social-media ul li:hover span:nth-child(3){
        transform: translate(20px,-20px);
        opacity: 0.6;
    }
    .social-media ul li:hover span:nth-child(2){
        transform: translate(10px,-10px);
        opacity: 0.4;
    }
    .social-media ul li:hover span:nth-child(1){
        transform: translate(0px,-0px);
        opacity: 0.2;
    }
}

@media screen and (max-width: 992px){
    .social-media ul li {
        position: relative;
        list-style: none;
        width: 40px;
        height: 40px;
        margin: 0 15px;
        transform: rotate(-30deg) skew(25deg);
        background: #ccc;
    }
    .social-media ul li span {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        transition: 0.5s;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 20px !important;
    }
    .social-media ul li:hover span:nth-child(5){
        transform: translate(40px,-40px);
        opacity: 1;
    }.social-media ul li:hover span:nth-child(4){
        transform: translate(30px,-30px);
        opacity: 0.8;
    }
    .social-media ul li:hover span:nth-child(3){
        transform: translate(20px,-20px);
        opacity: 0.6;
    }
    .social-media ul li:hover span:nth-child(2){
        transform: translate(10px,-10px);
        opacity: 0.4;
    }
    .social-media ul li:hover span:nth-child(1){
        transform: translate(0px,-0px);
        opacity: 0.2;
    }
}