* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    vertical-align: middle:
}

header {
    width: 100%;
}
.nav-item:hover {
    border: 1px solid rgb(#e7e3e2);
    background: rgba(#e7e3e2);
    cursor: pointer;
}
 /*career Zone*/
.container-career{
    width: 100%;
    height: 400px;
    background-image: url(../assets/firstImage.jpg);
    background-size: 200%;
    animation: movment 20s infinite linear alternate;
    position: relative;
}
@keyframes movment {
    from{
        background-position: bottom right;
    } to{
        background-position: top left;
    }
}
.gradient-label {
    width: 100%;
    height: 100%;
    position: absolute;
    background: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.856), rgba(92, 93, 94, 0.692));
}
.container-text {
    width: 100%;
    position: relative;
    text-align: center;
}
.row {
    margin-right: 0;
}
.content {
    width: 100%;
    position: relative;
    color: rgba(206, 216, 230, 0.616);
    text-align: center;
}
.content h1 {
    margin-top: 30%;
    font-size: 40px;
    font-family: 'Charmonman', cursive;
    text-align: center;
    color: rgba(206, 216, 230, 0.616);
}
@media screen and (max-width: 630px){
    .content h1 {
        margin-top: 50%;
        font-size: 20px;
        font-family: 'Charmonman', cursive;
        text-align: center;
    }
}
.content p {
    margin-top: 60%;
    padding-top: 30%;
    font-size: 40px;
    font-family: 'Charmonman', cursive;
    text-align: center;
}

@media screen and (max-width: 425px){
    .content h1 {
        margin-top: 150%;
        font-size: 18px;
        font-family: 'Charmonman', cursive;
        text-align: center;
    }
}

#about-me {
    width: 100%;
    height: 20%;
    background: rgb(0, 0, 0, 0.856);
    text-align: center;
    margin: auto;
    vertical-align: middle;
}
#about-me h2, #my-skills h2, #my-projects h2 , #expretise h2{
    font-family: 'Charmonman', cursive;
    padding-top: 10px;
    font-size: 40px;;
    color: rgba(239, 242, 245, 0.616);
    margin: auto;
}
#about-me h3 {
    font-size: 22px;;
    color: rgba(248, 251, 252, 0.616);
    margin-bottom: 10%;
    margin-top: 10%;
}
#about-me button {
    font-size: 17px;
    color: rgba(0, 0, 0, 0.856);
}
#about-me h4,  {
    font-size: 18px;
    color: rgba(239, 242, 245, 0.616);
}
#about-me img {
    padding-top: 14px;
    border-radius: 50px 50px 25px 25px;
}
.card-body {
    font-size: 14px;
    color: rgb(0, 0, 0, 0.856);
}
#about-me p {
    font-size: 16px;
    color: rgba(248, 251, 252, 0.616);
}
#my-skills, #expretise{
    width: 100%;
    background: rgba(206, 216, 230, 0.616);
    text-align: center;
    margin: auto;
}
#my-skills h2 , #expretise h2{
    margin-top: 4%;
    margin-bottom: 4%;
    text-align: center;
    color: rgba(0, 0, 0, 0.856);
}
#my-skills h3 {
    font-size: 19px;
    color: rgba(0, 0, 0, 0.856);
    justify-content: center;
    margin: auto;
    /*padding-left: 40%;*/
} 
.adjust-size {
    width: 300px;
}
.hard-skills, .soft-skills {
    display: block;
    justify-content: center;
    margin-left: 30px;
}
.carousel-inner img {
    height: 12em;
    width: 9em;
    margin: auto;
    padding-bottom: 20px;
    padding-top: 25px;
}
.node {
    height: 11.5em !important;
    width: 9.5em !important;
}
.github {
    height: 10.5em !important;
    width: 8em !important;
}
#my-projects {
    background: rgb(0, 0, 0, 0.856);
    height: 60%;
}
#my-projects h2 {
    margin-top: 20px;
}
.container-project {
    width: 100%;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.container-project .box {
    position: relative;
    width: 400px;
    height: 400px;
    margin: 14px auto;
    box-sizing: border-box;
    display: block;
    border-collapse: collapse;
}
@media screen and (max-width: 401px){
    .container-project .box {
        position: relative;
        width: 310px;
        height: 400px;
        margin: 14px auto;
        box-sizing: border-box;
        display: block;
        border-collapse: collapse;
    }
    .container-project .box .imgBox img {
        transition: trasform 2s;
        max-width: 310px;
        max-height: 310px;
    }
}

.container-project .box .imgBox {
    position: relative;
    overflow: hidden;
}
.container-project .box .imgBox img {
    transition: trasform 2s;
    max-width: 400px;
    max-height: 400px;
}
.container-project .box:hover .imgBox img {
    transform: scale(1.2);
}
.container-project .box .details {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.856);
    transform: scaleY(0);
    transition: transform 0.8s;
}
.container-project .box:hover .details {
    transform: scaleY(1);
}
.container-project .box .details .content-box{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 10px;
    color: white;
    font-size: 12px;
}
.container-project .box .details .content-box h4 {
    margin: 10px 0 0;
    padding: 0;
    font-size: 15px;
    color: rgba(206, 216, 230, 0.616);
}
.container-project .box .details .content-box i {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.container-project .box .details .content-box a {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.swiper-container {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 50px;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}
.swiper-slide .imgBox3d {
    width: 100%;
    height: 300px;
    overflow: hidden;
}
.swiper-slide .imgBox3d img {
    width: 100%;
}
.swiper-slide .details-3d {
    box-sizing: border-box;
    padding: 20px;
}
.swiper-slide .details-3d h3 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    text-align: center;
    line-height: 0;
}
#expretise .col-md-6 {
    display: inline-block;
}

@media screen and (max-width: 1315px){
    .container-project {
        justify-content: center;
    }
}
.slide .details-3d h3{
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    color: rgb(206, 216, 230, 0.616);
}
.imgBox3d .details-3d{
    padding: 0;
    margin: 0;
}
 .experience h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    align-content: center;
    justify-content: center;
    margin: auto;
    padding-bottom: 10px;
}
.slide .imgBox3d {
    margin: 20px;
    height: 250px;
}
.slide .imgBox3d{
    width: 40%;
    align-content: center;
    justify-content: center;
    margin: auto;
    padding-top: 30px;
}
.slide {
    display: inline-flex;
    margin-bottom: 40px;
}

.imgBox3d .details-3d{
    width: 100%;
    align-content: center;
    justify-content: center;
    margin: auto;
    padding-top: 10px;
}
@media screen and (max-width: 767px){
    .slide {
        display: inline-block;
    }
    .slide .imgBox3d{
        width: 100%;
        align-content: center;
        justify-content: center;
        margin: auto;
        padding-top: 30px;
    }
}
#contact-me p , #contact-me a{
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    color: rgb(0, 0, 0, 0.856);
    text-align: center;
}
#contact-me {
    background: rgba(#e7e3e2);
}
.nav-item ul li {
    display: inline-block;
    list-style: none;
    width: 40px;
    height: 40px;
    margin: 0 5px;
    background: rgba(206, 216, 230, 0.616);
    justify-content: center;
}
.nav-item ul li span {
    display: inline-block;
    border-radius: 8px;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.856);
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px !important;
}
.nav-item ul li:hover span:nth-child(1){
    transform: translate(0px,-0px);
    opacity: 0.2;
}
